<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>主页</title>
    <!--Bootstrap-->
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />


    <script th:src="@{js/jquery-1.11.3.min.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{js/echarts.js}"></script>


</head>
<body>

<!-- 导航区 -->

<ul class="nav nav-tabs navbar-fixed-bottom" role="tablist">
    <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">心电图</a></li>
    <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">B超</a></li>
    <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">系统设置</a></li>
</ul>

<!-- 面板区 -->
<div class="tab-content"  style="background:#000; color:#FFF;height: 1080px;width: 1902px">
    <div role="tabpanel" class="tab-pane active" id="home"  style="height: 100%">

        <div class="row" style="height:100%">
            <div class="col-xs-10" style="height: 100%">
                <div class="row" style="height: 33%">
                    <div class="col-xs-12" style="height: 100%">
                        <div id="main" style="height:100%;width:100%;"></div>
                    </div>
                </div>
                <div class="row" style="height: 33%" >
                    <div class="col-xs-12" style="height: 100%">

                        <div id="main1" style="height:100%;width:100%;"></div>
                    </div>

                </div>

                <div class="row" style="height: 34%">
                    <div class="col-xs-12" style="height: 100%">
                        <div id="main2" style="height:100%;width:100%;"></div>
                    </div>

                </div>

            </div>
            <div class="col-xs-2" style="height:100%;">

                <div class="row" style="height: 100%">
                    <div class="col-xs-12" style="height: 100%">
                        <div style="margin-top: 30%"> <button class="btn" style="color: black;">CALL INFO</button></div>
                        <div style="margin-top: 10%"> <button class="btn" style="color: black;">Patient Info</button></div>
                        <div style="margin-top: 10%"> <button class="btn" style="color: black;">Patient MedHx</button></div>
                        <div style="margin-top: 10%"> <button class="btn" style="color: black;">Vital</button></div>
                        <div style="margin-top: 10%"> <button class="btn" style="color: black;">Monitor</button></div>

                    </div>

                </div>

            </div>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="profile">456</div>

    <div role="tabpanel" class="tab-pane" id="settings">909</div>
</div>


<script type="text/javascript">


    var myChart = echarts.init(document.getElementById('main'));

    var myChart1 = echarts.init(document.getElementById('main1'));
    var myChart2 = echarts.init(document.getElementById('main2'));
    var data = [];
    var option = null;
    $(function () {


        initData();

        option = {

            title: {
                text: '心电图',
                textStyle:{
                    //文字颜色
                    color:'#ccc',
                    //字体风格,'normal','italic','oblique'
                    fontStyle:'normal',
                    //字体粗细 'normal','bold','bolder','lighter',100 | 200 | 300 | 400...
                    fontWeight:'bold',
                    //字体系列
                    fontFamily:'sans-serif',
                    //字体大小
                    fontSize:18
                }
            },

             tooltip: {
            trigger: 'axis',
            axisPointer: {
                animation: false
            }
        },
            xAxis: {
                type: 'category',
                splitLine: {
                    show: false
                },
                minInterval:0.04
            },
            yAxis: {
                type: 'value',
                show:false,
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: false
                },
                axisTick:{
                    show:false
                },
                max:100,
                min:70


            },
            series: [{
                name: '模拟数据',
                type: 'line',
                showSymbol: false,
                hoverAnimation: false,
                data: data
            }]
        };


        myChart.setOption(option, true);
        myChart1.setOption(option, true);
        myChart2.setOption(option, true);
    });


    setInterval(function () {

        flushData();

        myChart.setOption({
            title: {
                text: '心电图',
                textStyle:{
                    //文字颜色
                    color:'#ccc',
                    //字体风格,'normal','italic','oblique'
                    fontStyle:'normal',
                    //字体粗细 'normal','bold','bolder','lighter',100 | 200 | 300 | 400...
                    fontWeight:'bold',
                    //字体系列
                    fontFamily:'sans-serif',
                    //字体大小
                    fontSize:18
                }
            },
            series: [{
                data: data
            }]
        });
        myChart1.setOption({
            title: {
                text: 'PO',
                textStyle:{
                    //文字颜色
                    color:'#ccc',
                    //字体风格,'normal','italic','oblique'
                    fontStyle:'normal',
                    //字体粗细 'normal','bold','bolder','lighter',100 | 200 | 300 | 400...
                    fontWeight:'bold',
                    //字体系列
                    fontFamily:'sans-serif',
                    //字体大小
                    fontSize:18
                }
            },
            series: [{
                data: data
            }]
        });


        myChart2.setOption({
            title: {
                text: 'RO',
                textStyle:{
                    //文字颜色
                    color:'#ccc',
                    //字体风格,'normal','italic','oblique'
                    fontStyle:'normal',
                    //字体粗细 'normal','bold','bolder','lighter',100 | 200 | 300 | 400...
                    fontWeight:'bold',
                    //字体系列
                    fontFamily:'sans-serif',
                    //字体大小
                    fontSize:18
                }
            },
            series: [{
                data: data
            }]
        });


    }, 100);



    function initData() {
        $.ajax({
            type:'post',
            url:'/initData',
            dataType:'json',
            success:function(data1){

                $.each(data1.list,function(i,item){
                    data.push(randomData(item.name,item.value));

                });
            }
        });
    }


    function flushData() {
        $.ajax({
            type:'post',
            url:'/getData',
            dataType:'json',
            success:function(data1){

                $.each(data1.list,function(i,item){
                    data.shift();
                    data.push(randomData(item.name,item.value));

                });
            }
        });

    }

    function randomData(name,value) {
        return {
            name:name,
            value:value
        }

    }




</script>
</body>
</html>