<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>心电监护</title>
    <!--Bootstrap-->
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <script th:src="@{js/jquery-1.11.3.min.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{js/echarts.js}"></script>


</head>
<body>

<!-- 导航区 -->

<ul class="nav nav-tabs navbar-fixed-bottom" role="tablist">
    <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">心电图</a></li>
    <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">B超</a></li>
    <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">系统设置</a></li>
</ul>

<!-- 面板区 -->
<div class="tab-content"  style="height: 800px;width: 100%">
    <div role="tabpanel" class="tab-pane active" id="home"  style="height: 100%">
        <div style="height: 300px;width: 100%;">
                <div class="col-xs-10" style="height: 100%;">
                    <div id="ecgI" style="height:100%;width:100%;"></div>
                </div>
            <div class="col-xs-2" >
                <span>展示心电图I数据</span>
            </div>
        </div>

        <div  style="height: 300px;width: 100%;">
            <div class="col-xs-10" style="height: 100%;" >
                <div id="ecgII" style="height:100%;width:100%;"></div>
            </div>
            <div class="col-xs-2" >
                <span>展示心电图II数据</span>
            </div>
        </div>
        <div style="height: 200px;width: 100%;">
            <div class="col-xs-10" style="height: 100%;" >
                <div id="main2" style="height:100%;width:100%;"></div>
            </div>
            <div class="col-xs-2" >
                <span>展示心电图数据</span>
            </div>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="profile">456</div>

    <div role="tabpanel" class="tab-pane" id="settings">909</div>
</div>


<script type="text/javascript">


    var ecgI = echarts.init(document.getElementById('ecgI'));
    var ecgII = echarts.init(document.getElementById('ecgII'));
    var myChart2 = echarts.init(document.getElementById('main2'));
    var data = [];
    var option =  {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                animation: false
            }
        },
        xAxis: {
            type: 'value',
            splitLine: {
                show: false
            }
        },
        yAxis: {
            type: 'value',
            boundaryGap: [0, '100%'],
            splitLine: {
                show: false
            }
        },
        series: [{
            name: '数据',
            type: 'line',
            showSymbol: false,
            hoverAnimation: false
            //data: data
        }]
    };
    $(function () {
        ecgI.setOption(option, true);
        ecgII.setOption(option, true);
        myChart2.setOption(option, true);
        ecgData();
    });

    function  ecgData() {
        var ecgI_Data = [];
        var ecgII_Data = [];
        var ecgIndex = 0;

        ecgI.setOption({
            title: {
                text: '心电图I'
            },
            xAxis: {
                max: 200
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%'],
                min: -5,
                max: 5,
                interval:1
            }
        });
        ecgII.setOption({
            title: {
                text: '心电图II'
            },
            xAxis: {
                max: 200
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%'],
                min: -5,
                max: 5,
                interval:1
            }
        });



        var ws = new WebSocket('ws://192.168.1.107:8080/websocket/ecg');
        ws.onopen = function (evt) {
            console.log("websocket 连接...");
            ws.send("hello,server");
        };

        ws.onmessage = function (evt) {
//            console.log("接收数据："+evt.data);
            var ecgData = $.parseJSON(evt.data);
            var ecgCurIndex = ecgIndex%200;
            ecgIndex++;
            ecg_time = ecgData.timestamp;
            ecgI_value = ecgData.I;
            ecgII_value = ecgData.II;
            if (ecgCurIndex==0) {
                ecgI_Data =[];
                ecgII_Data =[];
            }
            ecgI_Data[ecgCurIndex] = ecgDataExecute(ecgCurIndex,ecgI_value);
            ecgII_Data[ecgCurIndex] = ecgDataExecute(ecgCurIndex,ecgII_value);

            //心电图 I
            ecgI.setOption({
                series: [{
                    data: ecgI_Data
                }]
            });
            //心电图 II
            ecgII.setOption({
                series: [{
                    data: ecgII_Data
                }]
            });
        }

        ws.onclose = function (evt) {
            console.log("websocket 关闭连接！")
        }

    }

    function ecgDataExecute(ecgTime,ecgValue) {
        return  [ecgTime+1,ecgValue];;
    }




</script>
</body>
</html>