<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>心电监护</title>
    <!--Bootstrap-->
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <script th:src="@{js/jQuery-1.11.3.min.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{js/echarts.js}"></script>

    <style type="text/css">
        strong{
            font-size: 50px;
            color: #1001f3;
        }

    </style>

</head>
<body>

<!-- 导航区 -->

<ul class="nav nav-tabs navbar-fixed-bottom" role="tablist">
    <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">心电图</a></li>
    <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">B超</a></li>
    <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">系统设置</a></li>
</ul>

<!-- 面板区 -->
<div class="tab-content"  style="height: 800px;width: 100%">
    <div role="tabpanel" class="tab-pane active" id="home"  style="height: 100%">
        <div style="height: 300px;width: 100%;">
            <div class="col-xs-3" style="height: 100%;">
                <div id="ecgI" style="height:100%;width:100%;"></div>
            </div>
            <div class="col-xs-3" style="height: 100%;">
                <div id="ecgII" style="height:100%;width:100%;"></div>
            </div>
            <div class="col-xs-3" style="height: 100%;">
                <div id="ecgHXBX" style="height:100%;width:100%;"></div>
            </div>
            <div class="col-xs-3" >
                <h3>心率/呼吸率</h3>
                <strong id="ecgXL">_ _</strong><strong>/</strong><strong id="ecgHXL">_ _</strong>
            </div>
        </div>

        <div style="height: 200px;width: 100%;">
            <div class="col-xs-5" style="height: 100%;" >
                <div id="spo2" style="height:100%;width:100%;"></div>
            </div>
            <div class="col-xs-4" >
                <h3>脉率/动脉氧饱和度：</h3><strong id="spo2_mbRate">_ _</strong> <strong>/</strong> <strong id="spo2_dmxBHD">_ _</strong>
            </div>
            <div class="col-xs-3" >
                <h3>体温：</h3> <strong id="T1">_ _</strong> <strong>/</strong> <strong id="T2">_ _</strong>

            </div>
        </div>

        <div>
            <button onclick="bpStart('1')">成人</button>
            <button onclick="bpStart('2')">新生儿</button>
            <button onclick="bpStart('3')">儿童</button>
            <button onclick="bpStop()">停止</button>
            <h3>血压测量：</h3>
            收缩压：<strong id="ssy">_ _</strong> ；舒张压： <strong id="szy">_ _</strong>；平均压： <strong id="pjy">_ _</strong>
        </div>


    </div>
    <div role="tabpanel" class="tab-pane" id="profile">456</div>

    <div role="tabpanel" class="tab-pane" id="settings">909</div>
</div>


<script type="text/javascript">

    var ecgI = echarts.init(document.getElementById('ecgI'));
    var ecgII = echarts.init(document.getElementById('ecgII'));
    var ecgHXBX = echarts.init(document.getElementById('ecgHXBX'));
    var spo2 = echarts.init(document.getElementById('spo2'));
    var option =  {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                animation: false
            }
        },
        xAxis: {
            type: 'value',
            splitLine: {
                show: false
            }
        },
        yAxis: {
            type: 'value',
            boundaryGap: [0, '100%'],
            splitLine: {
                show: false
            }
        },
        series: [{
            name: '数据',
            type: 'line',
            showSymbol: false,
            hoverAnimation: false
        }]
    };
    $(function () {
        ecgI.setOption(option, true);
        ecgII.setOption(option, true);
        ecgHXBX.setOption(option, true);
        spo2.setOption(option, true);

        ecgData();
        xhrateData();
        sp02Data();
        spo2rateData();
        tempData();
        bpData();
    });

    //********************ecg 开始************************************
    function  ecgData() {
        var ecgI_Data = [];
        var ecgII_Data = [];
        var ecgHXBX_Data=[];
        var ecgIndex = 0;

        ecgI.setOption({
            title: {
                text: '心电图I'
            },
            xAxis: {
                max: 200
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%'],
                min: -5,
                max: 5,
                interval:1
            }
        });
        ecgII.setOption({
            title: {
                text: '心电图II'
            },
            xAxis: {
                max: 200
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%'],
                min: -5,
                max: 5,
                interval:1
            }
        });

        ecgHXBX.setOption({
            title: {
                text: '呼吸波形'
            },
            xAxis: {
                max: 200
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%'],
                min: -5,
                max: 5,
                interval:1
            }
        });


        var ecgWs = new WebSocket('ws://localhost:8000/websocket/ecg');
        ecgWs.onopen = function (evt) {
            console.log("心电图websocket 连接...");
            ecgWs.send("心电图建立连接");
        };

        ecgWs.onmessage = function (evt) {
//            console.log("接收数据："+evt.data);
            var ecgData = $.parseJSON(evt.data);
            var ecgCurIndex = ecgIndex%200;
            ecgIndex++;
            ecg_time = ecgData.timestamp;
            ecgI_value = ecgData.I;
            ecgII_value = ecgData.II;
            ecgHXBX_value = ecgData.HXBX;
            if (ecgCurIndex==0) {
                ecgI_Data =[];
                ecgII_Data =[];
                ecgHXBX_Data=[];
            }

            ecgI_Data[ecgCurIndex] = [ecgCurIndex+1,ecgI_value]; //ecgDataExecute(ecgCurIndex,ecgI_value);
            ecgII_Data[ecgCurIndex] = [ecgCurIndex+1,ecgII_value];//ecgDataExecute(ecgCurIndex,ecgII_value);
            ecgHXBX_Data[ecgCurIndex] = [ecgCurIndex+1,ecgHXBX_value];

            //心电图 I
            ecgI.setOption({
                series: [{
                    data: ecgI_Data
                }]
            });
            //心电图 II
            ecgII.setOption({
                series: [{
                    data: ecgII_Data
                }]
            });
            ecgHXBX.setOption({
                series: [{
                    data: ecgHXBX_Data
                }]
            });

        }

        ecgWs.onclose = function (evt) {
            console.log("心电图websocket 关闭连接！")
        }

    }

    /*function ecgDataExecute(ecgTime,ecgValue) {
        return  [ecgTime+1,ecgValue];;
    }*/

    //心率 呼吸率计算
    function xhrateData() {
        var xhrateWs = new WebSocket('ws://localhost:8000/websocket/xhrate');
        xhrateWs.onopen = function (evt) {
            console.log("心率/呼吸率 websocket 连接...");
            xhrateWs.send("心率/呼吸率建立连接");
        };

        xhrateWs.onmessage = function (evt) {
            var xhrateData = $.parseJSON(evt.data);
            $("#ecgXL").text(xhrateData.xl);
            $("#ecgHXL").text(xhrateData.hxl);
        }

        xhrateWs.onclose = function (evt) {
            $("#ecgXL").text("_ _");
            $("#ecgHXL").text("_ _");
            console.log("心率/呼吸率 websocket 关闭连接！")
        }
    }

    //********************ecg 结束************************************


    //********************sp02 开始************************************
    function  sp02Data() {
        var spo2_Data = [];
        var spo2Index = 0;

        spo2.setOption({
            title: {
                text: '血氧'
            },
            xAxis: {
                max: 200
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%'],
                min: 0,
                max: 100
            }
        });

        var spo2Ws = new WebSocket('ws://localhost:8000/websocket/spo2');
        spo2Ws.onopen = function (evt) {
            console.log("血氧websocket 连接...");
            spo2Ws.send("血氧建立连接");
        };

        spo2Ws.onmessage = function (evt) {
            var spo2Data = $.parseJSON(evt.data);
            var spo2CurIndex = spo2Index%200;
            spo2Index++;
//            spo2_time = spo2Data.timestamp;
            var mbdata = spo2Data.mbdata;
            if (spo2CurIndex==0) {
                spo2_Data =[];
            }
            spo2_Data[spo2CurIndex] = [spo2CurIndex+1,mbdata];

            spo2.setOption({
                series: [{
                    data: spo2_Data
                }]
            });
        }

        spo2Ws.onclose = function (evt) {
            console.log("血氧websocket 关闭连接！")
        }

    }

    //血氧计算
    function spo2rateData() {
        var spo2rateWs = new WebSocket('ws://localhost:8000/websocket/spo2Rate');
        spo2rateWs.onopen = function (evt) {
            console.log(" 血氧计算 websocket 连接...");
            spo2rateWs.send("血氧计算建立连接");
        };

        spo2rateWs.onmessage = function (evt) {
            var spo2rateData = $.parseJSON(evt.data);
            $("#spo2_dmxBHD").text(spo2rateData.dmxBHD);
            $("#spo2_mbRate").text(spo2rateData.mbRate);
        }

        spo2rateWs.onclose = function (evt) {
            $("#spo2_bmxBHD").text("_ _");
            $("#spo2_mbRate").text("_ _");
            console.log("血氧计算 websocket 关闭连接！")
        }
    }


    //********************sp02 结束************************************

    //********************体温开始************************************
    function  tempData() {
        var tempWs = new WebSocket('ws://localhost:8000/websocket/temperature');
        tempWs.onopen = function (evt) {
            console.log("体温websocket 连接...");
            tempWs.send("体温建立连接");
        };

        tempWs.onmessage = function (evt) {
//            console.log("体温数据："+evt.data);
            var tempData = $.parseJSON(evt.data);
            $("#T1").text(tempData.T1);
            $("#T2").text(tempData.T2);
        }

        tempWs.onclose = function (evt) {
            $("#T1").text("_ _");
            $("#T2").text("_ _");
            console.log("体温websocket 关闭连接！")
        }

    }
    //********************体温结束************************************

    //********************血压开始************************************
    function  bpData() {
        var bpWs = new WebSocket('ws://localhost:8000/websocket/bp');
        bpWs.onopen = function (evt) {
            console.log("血压websocket 连接...");
            bpWs.send("血压建立连接");
        };

        bpWs.onmessage = function (evt) {
            console.log("血压数据："+evt.data);
            var bpData = $.parseJSON(evt.data);
            $("#szy").text(bpData.szy);
            $("#ssy").text(bpData.ssy);
            $("#pjy").text(bpData.pjy);
        }

        bpWs.onclose = function (evt) {
            $("#szy").text("_ _");
            $("#ssy").text("_ _");
            $("#pjy").text("_ _");
            console.log("血压websocket 关闭连接！")
        }

    }

    //开始测量血压
    function bpStart(type) {
        var bpUrl ="http://localhost:8000/startTestBloodPressure";
        $.get(bpUrl,function(data){
            if (data=="success"){
                alert("血压开始测量，请耐心等待...");
            }else {
                alert(data);
            }
        });
    }

    //停止测量血压
    function bpStop() {
        var bpUrl ="http://localhost:8000/stopTestBloodPressure";
        $.get(bpUrl,function(data){
            if (data!="success"){
                alert("血压测量停止失败");
            }
        });
    }

    //********************血压结束************************************


</script>
</body>
</html>